body {
    margin: 0px 190px 0px 190px;
    background-color: #F2F2F2;  
    font-family: "Open sans";
}

section {
    background-color:white;

}

h1 {
    font-size: 30px;
    margin: 0px;
    color: white;
    background-color: #083D77;
    padding: 20px

}

h2 {
    font-size: 20px;
    padding: 20px;
}

.intro {
    padding: 20px
}

.doggocontainer {
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    
}

.doggoname {
    font: bold
}

img {
    max-width: 250px;
    max-height: 150px;
}

.doglist {
    list-style-type:none;
    display: flex; 
    margin: 0px;
    padding-inline-start: 0px;
    flex-wrap: wrap;
    font-size: 12px;
    
    
}

.doggofacts {
    background-color: #90DDF0;
    margin-left: 3px;
    margin-right: 3px;
    color: black; 
}

.flex-container0 {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}


.flex-container1 {
    list-style-type: none;
    display: flex;
    /* flex-flow: wrap; */
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    flex-direction: column;
    align-content: flex-start;
    flex: 1; 
    
}

.flex-container2 {
    display: flex;
    flex-direction: row;
    background-color: #A7A6F2;
    height: 180px; 
    align-items: baseline;
    flex-wrap: wrap;
    align-content: space-between;
    text-align: center;
}