body {
    margin: 0px 190px 0px 190px;
    background-color: #F2F2F2;  
    font-family: "Open sans";
}

section {
    background-color:white;

}

h1 {
    font-size: 25px;
    margin: 0px;
    color: white;
    background-color: #083D77;
    padding: 20px

}

h1 { border-bottom: 2px solid #90DDF0 

}

h2 {
    font-size: 20px;
    padding: 20px;
    margin: 0px;
}

.intro {
    padding: 20px;
    margin: 0px;
}

.doggocontainer {
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    
}

.doggoname {
    font-weight: bold;
    font-family: "Oswald";
    font-size: 12px;
}

img {
    max-width: 250px;
    max-height: 150px;
}

.doglist {
    list-style-type:none;
    display: flex; 
    margin: 0px;
    padding-inline-start: 0px;
    flex-wrap: wrap;
    font-size: 8px;
    
}

.doggofacts {
    background-color: #90DDF0;
    margin-left: 3px;
    margin-right: 3px;
    color: black; 
    border-radius: 40%;
    font-size: 8px;
    font-family: "Open sans";
}



.flex-container1 {
    display: flex;
    width: 25%;
    padding: 12px;
    flex-direction: column;
    flex-basis: 25%;

}

